<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">

      <!-- Dashboard Tab -->
        <ion-tab title="Me" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tabs/dashboard">
            <ion-nav-view name="dashboard"></ion-nav-view>
        </ion-tab>

        <!-- Jobs Tab -->
        <ion-tab title="Jobs" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tabs/jobs">
            <ion-nav-view name="jobs"></ion-nav-view>
        </ion-tab>

        <!-- Record Tab
        <ion-tab title="Record" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tabs/video">
            <ion-nav-view name="video"></ion-nav-view>
        </ion-tab>-->

        <!-- Record Tab -->
        <ion-tab title="Applications" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" href="#/tabs/notifications">
            <ion-nav-view name="notifications"></ion-nav-view>
        </ion-tab>

        <!-- Messages Tab -->
        <ion-tab title="Messages" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tabs/messages">
            <ion-nav-view name="messages"></ion-nav-view>
        </ion-tab>

        <!-- More Tab -->
        <ion-tab title="More" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tabs/more">
            <ion-nav-view name="more"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
