<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>199268270628-hjot8si6bu8pmeqjr3speqm0cs9gn2nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199268270628-hjot8si6bu8pmeqjr3speqm0cs9gn2nk</string>
	<key>API_KEY</key>
	<string>AIzaSyBlOhR_TYoYbSspIbgz75x6PwbmdbbqlN0</string>
	<key>GCM_SENDER_ID</key>
	<string>199268270628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zipavid</string>
	<key>PROJECT_ID</key>
	<string>zipavid-142616</string>
	<key>STORAGE_BUCKET</key>
	<string>zipavid-142616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:199268270628:ios:acc1eb2cd0c034d7</string>
	<key>DATABASE_URL</key>
	<string>https://zipavid-142616.firebaseio.com</string>
</dict>
</plist>